@model ToDoWebApp.Models.ToDo

@{
    ViewData["Title"] = "Delete";
    var toDoList = ViewData["ToDoList"] as IEnumerable<ToDoWebApp.Models.ToDo>;
}
<div class="container-fluid" style="width: 90vw">
    <div class="d-flex justify-content-center align-items-center" style="background-color: rgba(34, 40, 49); padding: 1%; border-radius: 15px">
    <div>
        <partial name="NavLeftPartial" model="toDoList" />
    </div>
        <div class="flex-grow-1 ms-4" style="width: 80vw; height: 80vh; background-color: rgba(34, 40, 49); border: 2px solid rgba(118, 171, 174); border-radius: 15px; padding: 1%">
            <h4 style="color: rgba(118, 171, 174); text-align: center; font-size: 40px; text-transform: uppercase" class="mt-3">there is no going back after this</h4>
            <hr style="color: rgba(118, 171, 174)" class="mt-4" />
            <div style="background-color: rgba(34, 40, 49); height: 80%; padding: 3%; border: 2px solid rgba(118, 171, 174); border-radius: 15px" class="d-flex justify-content-between align-items-center">
            <div class="container">
                <div class="form-group">
                   <label asp-for="Title" class="control-label mb-2" style="color:white; font-size: 18px"></label>
                        <p style="color: white; border: 1px solid rgba(118, 171, 174); background-color: rgba(255, 255, 255, 0.02); border-radius: 15px; padding: 1%">@Model.Title</p>
                </div>
                <div class="form-group">
                  <label asp-for="Content" class="control-label mb-2" style="color:white; font-size: 18px"></label>
                        <p style="color: white; height: 35vh; border: 1px solid rgba(118, 171, 174); background-color: rgba(255, 255, 255, 0.02); border-radius: 15px; padding: 1%">@Model.Content</p>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            
                        </form>
                </div>
            </div>
            </div>
        <div>
            @*
    
    <hr />
    <div class="d-flex">
        <div style="width: 10vw; background-color: blue">
           @Html.DisplayNameFor(model => model.Title)
        </div>
        <div>
           @Html.DisplayFor(model => model.Title)
        </div>
    </div>
    <div class="d-flex">
        <div style="width: 10vw; height: fit-content; background-color: blue">
           @Html.DisplayNameFor(model => model.Content)
        </div>
                <div style="max-width: 70vw; height: auto; background-color: green">
           <p>@Html.DisplayFor(model => model.Content)</p>
        </div>
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDone)
        </dd>

        </dl>*@
    
    
        <div class="d-flex justify-content-center align-items-center">
          <a class="btn btn-info mt-3" asp-action="Index">Back to List</a>
        </div>
</div>
</div>
</div>
</div>
