@model IEnumerable<ToDoWebApp.Models.ToDo>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager;

<style>
    
        
    /* SimpleBar Thumb */
    .simplebar-scrollbar:before {
        background: rgba(118, 171, 174); /* Farbe des Scrollbar-Griffs */
    }
 </style>





<div class="container-fluid d-flex flex-column" style="width: 15vw; height: 80vh; background-color: rgba(34, 40, 49); border: 2px solid rgba(118, 171, 174); border-radius: 15px">
    <a class="btn d-flex justify-content-center align-items-center mb-2 mt-2" asp-action="Create" asp-controller="ToDoes" style="width: 100%; height: 10%; font-size: 18px; font-weight: 500; background-color: rgba(118, 171, 174)">Create new</a>
    <hr style="color: rgba(118, 171, 174)" />
    <h3 style="color: white; font-size: 18px; font-weight: 700">Active ToDo's</h3>
    <div data-simplebar style="width: 100%; height: 40%; background-color: rgba(34, 40, 49); overflow-y: auto">

        @{
            var active = Model.Where(a => a.IsDone == false);
            var done = Model.Where(a => a.IsDone == true);
        }
        
        @if (Model == null && !Model.Any() && active == null && !active.Any())
        {
            <div style="color: white">
                No active To-Do's
            </div>
        }
        else if (Model != null && Model.Any() && active != null && active.Any())
        {
            @foreach (var item in active)
            {
                <div>
                    <a asp-action="Edit" asp-controller="ToDoes" asp-route-id="@item.Id" style="text-decoration: none; font-size: 14px; color: white; font-weight: 100"><span style="font-size: 7px">🟢</span> @item.Title</a>
                </div>
            }
        }
        else
        {
            <div style="color: white">
                No active To-Do's
            </div>
        }
            
        
    </div>
    <hr style="color: rgba(118, 171, 174)" />
    <h3 style="color: white; font-size: 18px; font-weight: 700">Finished ToDo's</h3>
    <div data-simplebar style="width: 100%; height: 40%; background-color: rgba(34, 40, 49); overflow-y: auto">
        
        @if (Model == null && !Model.Any() && done == null && !done.Any())
        {
            <div style="color: white">
                No done To-Do's
            </div>
        }
        else if (Model != null && Model.Any() && done != null && done.Any())
        {
            @foreach (var item in done)
            {
                <div>
                    <a asp-action="Edit" asp-controller="ToDoes" asp-route-id="@item.Id" style="text-decoration: none; font-size: 14px; color: white; font-weight: 100"><span style="font-size: 7px">🟢</span> @item.Title</a>
                </div>
            }
        }
        else
        {
            <div style="color: white">
                No done To-Do's
            </div>
        }

          @*  @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    @if (item.IsDone != false)
                    {
                        <div>
                        <a asp-action="Edit" asp-controller="ToDoes" asp-route-id="@item.Id" style="text-decoration: none; font-size: 14px; color: white; font-weight: 100"><span style="font-size: 12px">✔</span> @item.Title</a>
                    </div>
                }
                
                }
        }*@
            
        
    </div>
</div>
